@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out;
}

@keyframes pulseWave {
  0%, 100% { opacity: 0.5; transform: translateY(0px); }
  50% { opacity: 1; transform: translateY(-3px); }
}

.animate-pulseWave {
  animation: pulseWave 1.5s ease-in-out infinite;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black;
}